<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Laporan Inventory</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Import Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <style>
      body {
        font-family: "Roboto", sans-serif;
      }

      /* Biar footer nempel bawah saat print */
      @media print {
        footer {
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
        }

        main {
          margin-bottom: 100px; /* kasih jarak biar konten ga nabrak footer */
        }
      }
    </style>
  </head>
  <body class="min-h-screen flex flex-col">
    <!-- HEADER -->
    <header class="py-4 px-8 flex items-center gap-x-5">
      <h1 class="text-md text-[#027C4B] font-light">
        <span class="text-[#027C4B] font-bold">SN</span> Cargo
      </h1>
      <div class="border border-black flex-1 mt-1"></div>
    </header>

    <!-- MAIN -->
    <main class="py-8 px-8">
      <!-- HEADING -->
      <section class="p-6">
        <h2 class="font-semibold mb-10 w-full text-center text-2xl">
          Laporan Divisi Administrasi Umum
        </h2>

        <div class="space-y-2">
          <div class="flex">
            <p class="w-32">Bagian</p>
            <span class="mr-2">:</span>
            <p>Alat Tulis Kantor</p>
          </div>
          <div class="flex">
            <p class="w-32">Laporan</p>
            <span class="mr-2">:</span>
            <p>Laporan Penggunaan Inventaris ATK</p>
          </div>
          <div class="flex">
            <p class="w-32">Tanggal</p>
            <span class="mr-2">:</span>
            <p>17 Agustus 2025</p>
          </div>
          <div class="flex">
            <p class="w-32">Pengguna</p>
            <span class="mr-2">:</span>
            <p>User 1</p>
          </div>
        </div>
      </section>

      <!-- TABEL -->
      <section class="p-6">
        <table
          class="table-auto border-collapse border border-black w-full text-sm text-center"
        >
          <thead>
            <tr>
              <th class="border border-black px-2 py-1">No.</th>
              <th class="border border-black px-2 py-1">Nama Barang</th>
              <th class="border border-black px-2 py-1">Spesifikasi</th>
              <th class="border border-black px-2 py-1">Stok Awal</th>
              <th class="border border-black px-2 py-1">Masuk</th>
              <th class="border border-black px-2 py-1">Keluar</th>
              <th class="border border-black px-2 py-1">Stok Akhir</th>
              <th class="border border-black px-2 py-1">Satuan</th>
              <th class="border border-black px-2 py-1">Minimum Stok</th>
              <th class="border border-black px-2 py-1">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border border-black px-2 py-1">1</td>
              <td class="border border-black px-2 py-1">Pulpen</td>
              <td class="border border-black px-2 py-1">Gel Ink, Hitam</td>
              <td class="border border-black px-2 py-1">100</td>
              <td class="border border-black px-2 py-1">20</td>
              <td class="border border-black px-2 py-1">5</td>
              <td class="border border-black px-2 py-1">115</td>
              <td class="border border-black px-2 py-1">Pcs</td>
              <td class="border border-black px-2 py-1">50</td>
              <td class="border border-black px-2 py-1">Cukup</td>
            </tr>
          </tbody>
        </table>
      </section>

      <!-- TTD -->
      <section class="p-6">
        <p class="mb-44 font-semibold">Sidoarjo, 17 Agustus 2025</p>

        <div class="grid grid-cols-4 gap-4 text-center font-serif">
          <div>
            <p class="font-bold italic">RIZKI OKTAVIAN</p>
            <p class="italic">Adm. Umum</p>
          </div>
          <div>
            <p class="font-bold italic">DANI ANWAR</p>
            <p class="italic">Adm. Umum</p>
          </div>
          <div>
            <p class="font-bold italic">FIRMAN A.</p>
            <p class="italic">Koordinator Umum</p>
          </div>
          <div>
            <p class="font-bold italic">BENNY A.</p>
            <p class="italic">KADIV. UMUM</p>
          </div>
        </div>
      </section>
    </main>

    <!-- FOOTER -->
    <footer class="py-4 px-8 flex items-center gap-x-5 w-full bg-white">
      <div class="flex flex-col flex-1">
        <div class="border border-black flex-1 mt-1"></div>
        <p class="text-xs text-[#757575] mt-2">
          *Dokumen ini dihasilkan otomatis oleh sistem inventory | Generated on
          17-08-2025 09:11 AM
        </p>
      </div>
      <p class="text-md text-[#027C4B] font-light mb-5">
        <span class="text-[#027C4B] font-bold">Halaman 1</span> dari 5
      </p>
    </footer>
  </body>
</html>
